.one-line-content{
    display: flex;
    gap: 8px;
}

.container{
    margin: 5px;
    padding: 5px;
}
.content{
    display: flex;
    flex-direction:column;
    gap: 6px;
}

.card{
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    padding: 5px;
    width: fit-content;
    gap: 4px;
    margin: 5px;
    width: 600px;
}

#takeimage{
    cursor: pointer;
    margin:0px 0px 0px 4px;
    padding: 5px;
    border:2px solid cadetblue;
    border-radius: 4px;

}
input#uploadImage{
    visibility: hidden;
    
}
form{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}

img#image {
    width: fit-content;
    height: 100px;
    border-radius: 10px;
}
.img{
    position: relative;
}

.capsule {
    position: absolute;
    bottom: 8px;
    right: 5px;
    color: white;
    background: black;
    padding: 2px;
    border-radius: 5px;
    font-size: 12px;
}