.border{
    border: 2px solid red;
}
.m-1{
    margin: 1px;
}

.invert{
    filter: invert(1);
}

.d-flex{
    display: flex;
}

.border-section{
    border-radius: 10px;
}

.invert-right{
    filter: invert(0.7);
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #222121;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }